<h2>Add a developer</h2>
<form action="/developers/create" method="post">
  <label for="developer">Developer Name:</label>
  <input type="text" name="developer" required>
  <button type="submit">Add Developer</button>
</form>