<h1>Add a developer</h1>
<form action="/developers/create" method="post">
  <label for="developer"></label>
  <input type="text" name="developer" required>
  <button type="submit">Submit</button>
</form>