<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | Inventory Application
  </title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <%- include('partials/nav') %>
  </nav>
  <main>
    <h1>Inventory Application</h1>
    <%- include(content) %>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>

</html>