<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="/game/create/">Add game</a></li>
      <li><a href="/genres/create/">Add genre</a></li>
      <li><a href="/developers/create/">Add developer</a></li>
    </ul>
  </nav>
</header>