<ul class="nav">
  <h3>Games</h3>
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/game/create/">Add game</a>
  </li>
  <h3>Genres</h3>
  <li class="nav-item">
    <a class="nav-link" href="/genres">All Genres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/genres/create/">Add genre</a>
  </li>
  <h3>Developers</h3>
  <li class="nav-item">
    <a class="nav-link" href="/developers">All Developers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/developers/create/">Add developer</a>
  </li>
</ul>